.App {
  text-align: center;
  display: grid;
  grid-template-areas: 
    "sidebar metric1 metric4 graph"
    "sidebar metric2 metric5 graph"
    "sidebar metric3 standard standard";
  grid-template-columns: 1fr 3fr 3fr 4fr;
  grid-template-rows: 1fr 1fr 1fr;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  background-color: #483d8b;
  color: white;
}

html, body {
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

.graph-containter {
  grid-area: graph;
  border: 2px solid black;
}

.metric-container {
  border: 2px solid black;
  display: grid;
  place-items: center;
}

.metricTitle {
  margin-bottom: 0px;
} 

.formula {
  margin-top: -40px;
  padding: 5px;
  font-size: 11px;
  scale: 0.99;
  border-radius: 0.25rem;
  background-color: #574c9a;
}

.metricResult {
  transform: translateY(-25px);
  border: 1px solid black;
  border-radius: 5px;
  padding: 10px;
  background-color: #574c9a;
}

.standard-metric-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.standard-metric-title {
  transform: translateY(10px);
}

.standard-metric {
  border: 2px solid black;
  grid-area: standard;
  display: grid;
  place-items: center;
}

.metric-name {
  margin-bottom: 5px;
  margin-right: 30px; 
  transform: translateY(-30px);
}

.metric-result {
  margin-top: 0;
  margin-bottom: 20px;
  margin-right: 30px; 
  transform: translateY(-30px);
  border: 1px solid black;
  border-radius: 5px;
  padding: 10px;
  background-color: #574c9a;
}

.sidebar {
  padding: 1rem;
  width: 200px;
  grid-area: sidebar;
  border: 2px solid black;
}

.sidebar h2 {
  margin-top: 0;
}

.sidebar ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.sidebar li {
  padding: 0.5rem 1rem;
  cursor: pointer;
  border-radius: 5px;
}

.sidebar li:hover {
  background-color: #574c9a;
}

.sidebarTitle {
  text-decoration: underline;
}

.sideBtn {
  background-color: inherit;
  border: none;
  color: white;
  font-family: inherit;
  font-size: inherit; 
}

.weightSelect {
  text-align: center;
  padding: 0.675em 4em 1em;
  background-color: inherit;
  border: 1px solid white;
  border-radius: 0.25rem;
  color: white;
  cursor: pointer;
  font-family: inherit;
  font-size: inherit; 
}

select {
  text-align: center;
  appearance: none;
  -webkit-appearance: none;
  width: 100%;
  padding: 0.675em 4em 0.8em;
  background-color: inherit;
  border: 1px solid white;
  border-radius: 0.25rem;
  color: white;
  cursor: pointer;
  font-family: inherit;
  font-size: inherit; 
}

select:hover {
  background-color: #574c9a;
}
